:root {
    --primary-color: #1a73e8;
    --secondary-color: #4caf50;
    --accent-color: #fdd835;
    --background-color: #f5f5f5;
    --text-color: #333333;
    --green-accent: #4caf50;
}

#ev-cars {
    padding: 3rem;
    background-color: var(--background-color);
    justify-content: space-between;
    text-align: left;
}

#ev-cars h2 {
    color: var(--primary-color);
    text-align: left;
    margin-bottom: 1rem;
}

.ev-content {
    max-width: 800px;
    margin: 0 ;
    padding-left: 15px;
    


}

.ev-content ul {
    list-style-type: disc;
    padding-left: 2px;

}

#home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.welcome-content {
    flex: 1;
    padding-right: 2rem;
}
.welcome-content h1 {
    border: none;
    padding: 0;
    color: var(--primary-color);
    text-align: left;
}

.welcome-image {
    flex: 1;
    text-align: center;
}


.welcome-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}



.modal-content {
    background-color: var(--background-color);
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.description {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.close {
    color: var(--text-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: var(--primary-color);
}

#random-fact {
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--text-color);
}

body {
    background-image: url(bkg2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* Adjust the last value (0.7) for transparency */
    z-index: -1;
    opacity: 1%;
}

main, header, footer {
    position: relative;
    z-index: 1;
}

header {
    background-color: var(--primary-color);
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    color: var(--accent-color);
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

nav ul li a:hover {
    color: var(--accent-color);
    background-color: rgba(255, 255, 255, 0.1);
}

main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.card {
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    border-radius: 10px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

h1, h2, h3 {
    color: var(--primary-color);
}

.cta-button, #calculator button, #simulator button{
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.cta-button:hover, #calculator button:hover, #simulator button:hover {
    background-color: var(--green-accent);
}

.cta-container {
    display: flex;
    gap: 1rem;
}

.energy-types {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding-right: 25px;
}

.energy-card {
    perspective: 1000px;
    height: 300px;
    position: relative;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    /*margin-top: 10px;*/
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.6s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.card-back {
    transform: rotateY(180deg);
    overflow-y: auto;
}

.energy-card.flipped .card-front {
    transform: rotateY(180deg);
}

.energy-card.flipped .card-back {
    transform: rotateY(0);
}

.more-info {
    align-self: flex-end;
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    padding: 5px 10px;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.more-info:hover {
    color: var(--secondary-color);
}

form {
    display: grid;
    gap: 1rem;
}

input, select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.menu-toggle {
    display: block;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.cta-button {
    display: inline-block;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    max-width: 100%;
    box-sizing: border-box;
}

@media (max-width: 768px) {

    header{
        padding: 0.5rem;
    }

    .match-container{
        flex-direction: column;
    }

    .sources-column, .descriptions-column{
        width: 100%;
    }

    .match-item{
        margin-bottom: 10px;
    }

    #home {
        flex-direction: column;
        padding: 1.5rem;
    }

    .welcome-content, .welcome-image {
        flex: none;
        width: 100%;
        padding-right: 0;
    }

    .energy-types {
        grid-template-columns: 1fr;
    }

    .cta-container {
        flex-direction: column;
    }

    .menu-toggle {
        display: block;
        background: none;
        border: none;
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
        position: absolute;
        right: 1rem;
        top: 1rem;
    }

    .cta-button {
        display: inline-block;
        background-color: var(--secondary-color);
        color: white;
        border: none;
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        text-decoration: none;
        border-radius: 5px;
        transition: all 0.3s ease;
        cursor: pointer;
        max-width: 100%;
        box-sizing: border-box;
    }

    nav {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    nav ul {
        flex-direction: row;
        width: 100%;
        display: flex !important;
    }

    nav ul.show {
        display: flex;
    }

    nav ul li {
        margin: 1rem;
        width: 100%;
    }

    nav ul li a {
        display: block;
        padding: 0.5rem 0;
    }

    .logo{
        margin-bottom: 0.5rem;
    }

    .energy-types{
        grid-template-columns: 1fr;
    }

    #tooltip-content{
        width: 200px;
    }

    #tooltip-content.hidden{
        right: -220px;
    }
}

/* Tips design */
#tooltip-content {
    position: fixed;
    top: 50%;
    right: -220px;
    transform: translateY(-50%);
    background-color: var(--primary-color);
    color: white;
    padding: 15px;
    border-radius: 8px 0 0 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    width: 250px;
    transition: right 0.3s ease;
    z-index: 1000;
}
/*
#tooltip-content:hover {
    transform: rotate(5deg);
}
*/
#tooltip-content h3 {
    margin-top: 0;
    color: var(--accent-color);
    font-size: 1.2em;
}

#tooltip-content.hidden {
    transform: translateX(calc(100% - 30px));
}

#tooltip-content.hidden::before {
    left: -30px;
}

#tooltip-content.visible {
    right: 0;
}

#tooltip-content::before {
    content: '❯';
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--primary-color);
    color: var(--accent-color);
    padding: 10px;
    border-radius: 8px 0 0 8px;
    font-size: 20px;
    cursor: pointer;
}

#current-tip {
    font-size: 1em;
    line-height: 1.4;
}

/* Kids' Corner styles */
.match-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.sources-column, .descriptions-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.match-item {
    background-color: #fff;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.match-item.selected {
    background-color: var(--accent-color);
}

.section {
    animation: fadeIn 1s ease-out;
}

.match-item.matched {
    background-color: var(--secondary-color);
    color: white;
}

.quiz-question {
    margin-bottom: 1rem;
}

.quiz-question label {
    display: block;
    margin-bottom: 0.5rem;
}

.quiz-result {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.quiz-result.correct {
    background-color: rgba(76, 175, 80, 0.1);
    border: 1px solid var(--green-accent);
}

.quiz-result.incorrect {
    background-color: rgba(244, 67, 54, 0.1);
    border: 1px solid #f44336;
}

/* Header and footer styles */
header, footer {
    background-color: var(--primary-color);
    color: var(--accent-color);
}

header a, footer {
    color: var(--accent-color);
}

/* Energy card button styles */
.energy-card .more-info.cta-button {
    background-color: var(--accent-color);
    color: var(--text-color);
}

.energy-card .more-info.cta-button:hover {
    background-color: #fbc02d;
}

.energy-card:hover img {
    transform: scale(1.05);
}

/* Tagline Colour*/
.tagline {
    font-size: 1.2rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}



.matched-correct {
    background-color: var(--green-accent);
    color: white;
}

.matched-incorrect {
    background-color: #f44336;
    color: white;
}

.logo img{
    height: 40px;
    width: auto;
    margin-right: 10px;
    /*height: 65px;
    width: 100px;
    position:absolute;
    border-radius: 150px;
    border: solid 2px;
    bottom: 615px;*/
}

.welcome-logo{
    max-width: 100%;
    height: auto;
}

.section {
    animation: fadeIn 1s ease-out;
  }
  
  .cta-button {
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .cta-button:hover {
    transform: translateY(-2px);
  }